
:root{
  --font-body: 'Poppins', 'sans-serif';

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --color-white: hsl(0, 0%, 100%);

  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);

}

body{
  font-family: var(--font-body);
  font-weight: var(--fw-200);
}

.font-semibold{
  font-weight: var(--fw-400);
}

.font-bold{
  font-weight: var(--fw-600);
}

